h1 {
	color: blue;
}
p {
	color: green;
}
em {
	color: red;
	background-color: red;
}
u {
	color: yellow;
}
p.second {
	color: black;
	background-color: orange;
}
p.first {
	background-color: purple;
}
p.thrid {
	background-color: blue;
}